<launch>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
     <arg name="port" value="8081"/>
  </include>
  <node name="drive_logic" pkg="hydra_drive" type="hydra_drive_logic.py"/>
  <node name="serial" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyUSB0"/>
</launch>
