<launch>
  <node name="serial" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM0"/>
  <node name="control" pkg="hydra_tests" type="motor_control.py"/>
  <node name="input" pkg="hydra_crisp" type="input_node">
    <rosparam param="device">/dev/input/by-id/usb-Logitech_Logitech_Dual_Action-event-joystick</rosparam>
  </node>
</launch>
